

.plateau{
    background: url("../images/sam-wermut-FiUuNWxnb3k-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0px;
    width: 800px;
    height: 800px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
   
.plateau div{
    width: 80px;
    height: 80px;
    border: 1px dashed white;
}
